.table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 15px 0; */
  font-size: 10px;
  text-align: left;
}

.table thead tr th {
  text-align: center;
  background-color: #b2b2b2;
  color: #333;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table th:last-child,
table td:last-child {
  border-right: none;
}
